<h1> ToDo Index </h1>

<div id='list'>
  <% if @todos.empty? %>
    <h2> No todos! </h2>
  <% else %>
    <% @todos.each do |todo| %>
      <div id='<%= todo.id %>'>
        <p><%= todo.content %></p>
        <%= link_to 'done', todo, method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'create', new_todo_path %>


